#d1 {
    display:block;
    }
    #whyjoin{
      display:block;
      background-color:#27A1DE ;
    }
    .card {
      display:inline-block;
      
    }
    .card:hover{
      transition: scale(1.3);
    }
    #d2{
    display:block;
    height:400px;
    width:100%;
    }
    #d3{
    margin:30px;
    display:block;
    width:30%;
    padding:50px;
    }
    