<div id="d1" class=" #ffa000 amber darken-3">
    <br><br>
<h1 class="display-2 center-align white-text">How It Works?</h1><hr  class=" centre-align #ffffff white">
<div class="container">
<br>
<div class="row">
    <div class="col-sm-4 animated rollIn delay-1s">
       <div class="well well-lg">
        <div class="row">
           <div class="col s12 m6">
              <div class="card  z-depth-5 #ff8a65 deep-orange lighten-2">
                 <div class="card-content white-text">
                    <p class="center-align "> <i class=" large material-icons ">person</i></p>
                    <span class="card-title"><p class="center-align"> Discover Amazing People</p></span><hr class=" centre-align #ffffff white">
                    <p>Couchsurfers open their homes and share their lives. Connect and be inspired.Stay with locals</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
   <div class="col-sm-4 animated jackInTheBox">
      <div class="well well-lg ">
      <div class="row">
      <div class="col s12 m6 hoverable">
          <div class="card z-depth-5 #ff8a65 deep-orange lighten-2 ">
            <div class="card-content white-text">
                <p class="center-align "> <i class=" large material-icons ">hotel</i></p>
              <span class="card-title"><p class="center-align">Find a Host</p></span><hr class=" centre-align #ffffff white">
              <p>Connect with hosts, and confirm your stay through the Couchsurfing platform. Your stay with hosts is free. </p>
            </div>
           </div>
          </div>
        </div>
      </div>
     </div>
           
          <div class="col-sm-4 animated rollIn delay-1s">
              <div class="well well-lg">
              <div class="row">
          <div class="col s12 m6">
              <div class="card z-depth-5 #ff8a65 deep-orange lighten-2">
                <div class="card-content white-text">
                  <p class="center-align "> <i class=" large material-icons ">people</i></p>
        
                  <span class="card-title"><p class="center-align ">Join Events</p></span>
                  <hr class=" centre-align #ffffff white">
              <article>Meet travelers in other cities, or in your own city! There&#39;s always something new to join. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</article>
                </div>
               </div>
              </div>
            </div>
          </div>
         </div>
    </div>
</div>


<div class="container ">
    <br>
    <br>
    <table class="striped white-text animated lightSpeedIn delay-2s" width="50%" align="center">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Free</th>
            <th>Verified Members</th>
          </tr>
        </thead>
        <tbody>
         <tr>
            <td>Stay with local hosts</td>
            <td> <i class="material-icons">done</i></td>
            <td> <i class="material-icons">done</i></td>
          </tr>
    <tr>
            <td>Host internationl travelers</td>
            <td> <i class="material-icons">done</i></td>
            <td> <i class="material-icons">done</i></td>
          </tr>
    <tr>
            <td>Attend free traveler events</td>
            <td> <i class="material-icons">done</i></td>
            <td> <i class="material-icons">done</i></td>
          </tr>
    <tr>
            <td>Get SMS and address verified</td>
            <td><i class="material-icons">not_interested</i></td>
            <td> <i class="material-icons">done</i></td>
          </tr>
    <tr>
            <td>Ad-free website and mobile apps</td>
            <td> <i class="material-icons">not_interested</i></td>
            <td> <i class="material-icons">done</i></td>
          </tr>
    <tr><td>Be highlighted in search results</td>
    <td><i class="material-icons">not_interested</i></td><td> <i class="material-icons">done</i></td></tr>
      </tbody></table>
    </div>
</div>

<div class="#039be5 light-blue darken-1">
<br>
<br>
<h1 class="display-2 center-align white-text">Why Join?</h1><hr  class=" centre-align #ffffff white">

<br>
<div class="container">
<br>
<div class="card-deck">
<div class="card  z-depth-5 N/A transparent animated flipInY delay-3s" style="width:400px">
      <img class="card-img-top " alt="Family at home hosting a surfer"  src="src\app\htw\img1.png" height="350px" style="width:100%">
      <div class="card-body white-text">
        <h4 class="card-title">  <h3 class="info-box-title">On Surfing</h3></h4>
        <div class="card-text">
          <article>
        <hr  class=" centre-align #ffffff white">
            <p>&quot;Couchsurfing has given me the opportunity to live very valuable and beautiful experiences. It&#39;s filled my journey with stories, people, and friends. It&#39;s given life to the places I visited, and I know that anywhere in the world I visit, I&#39;ll possibly have a good friend waiting for me!&quot;
      </p>
            - Andrea<br>(Traveling in South America)
          </article>
        </div>
      </div>
    </div>


  <div class="card  z-depth-5 N/A transparent animated flipInY delay-3s" style="width:400px">
      <img class="card-img-top" alt="Family with kids hosting surfers" src="src\app\htw\img2.png" height="350px" style="width:100%">
      <div class="card-body  white-text">
        <h4 class="card-title">
          <h3 class="info-box-title">On Hosting</h3></h4>
        <div class="card-text">
          <article>

            <hr class=" centre-align #ffffff white">
            <p>&quot;We wanted to show our children that people from all over the world are good, no matter what culture, skin color, or language. We had no money to travel the world with our four kids, and decided to let the world come to us. We opened our house, our hearts, and our lives to strangers. A lot of them became friends for life!&quot;
      </p>
            - Lieke, Peter, and Kids<br>(Hosting in Belgium)
          </article>
        </div>

      </div>
    </div>

  <div class="card  z-depth-5 N/A transparent animated flipInY delay-3s" style="width:400px">
      <img class="card-img-top" alt="New friends meeting in Asia"  src="src\app\htw\img3.png"  height="350px" style="width:100%">
      <div class="card-body  white-text">
        <h4 class="card-title"><h3 class="info-box-title">On Community</h3></h4>
        <div class="card-text">
          <article>
               <hr class=" centre-align #ffffff white">
            <p>&quot;We can&#39;t recommend Couchsurfing highly enough. It&#39;s a great way to experience places from a unique insider perspective, and you&#39;ll undoubtedly make great friends along the way. Travel is more about the people you meet than the places you see, and Couchsurfing reinforced the fact that people are inherently good.&quot;
      </p>
            - Matt and Sara<br>(Traveling In Asia)
          </article>
         </div>
      </div>
</div>
</div>
<br>
<br>
</div>
<br><br></div>